body{
    background-color: rgb(244, 221, 194);
}

li{
    border-radius: 6px;
    color: black;
    font-size: larger;
}


li:hover{
    background-color: rgb(129, 184, 234);
    transition: 0.2s;

}

input[type=form-control]:focus{
    background-color:  rgb(129, 184, 234);
}